@import url('https://fonts.googleapis.com/css?family=Tangerine');
body {
    background: gray url("../images/background.jpg");
}
* {
    font-family: Merriweather;
    color: #C9C0BB;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: Merriweather;
    src: url("../fonts/Merriweather.ttf");
}
@font-face {
    font-family: Merriweather-Bold;
    src: url("../fonts/Merriweather-Bold.ttf");
}
@font-face {
    font-family: Ginga;
    src: url("../fonts/Ginga.ttf");
}
h1 {
    text-align: center;
    font-family: 'Tangerine', cursive;
    font-size: 80px;
    padding-bottom: 10px;
    padding-top: 80px;
    font-weight: normal;
}
h4 {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 80px;
    font-weight: normal;
}
em {
    font-size: 15px;
}
p {
    width: 300px;
    margin: 0px auto;
}
img {
    display: block;
    margin: 0px auto 20px;
}
#output {
    display: block;
    margin: 0px auto 20px;
    position: sticky;
    width: 500px;
    padding: 2px 2px 2px 5px;
}
input {
    display: block;
    margin: 0px auto 20px;
    position: sticky;
    width: 160px;
    padding: 2px 2px 2px 5px;
    border: 1px solid black;
    background-color: rgba(255,255,255,0.3);
    -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
}
button {
    display: block;
    margin: 0px auto 20px;
    position: sticky;
    width: 50px;
    font-family: Merriweather;
    font-size: 14px;
    color: #000;
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background:-webkit-linear-gradient(top, rgba(255,255,255,0.6), rgba(0,0,0,0.2));
    background:-moz-linear-gradient(top, #a3a3a3, rgba(0,0,0,0.2));
    background: linear-gradient(top, #a3a3a3, rgba(0,0,0,0.2));
    -webkit-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 3px rgba(0,0,0,0.5);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#stage {
    width: 1920px;
    height: 1200px;
    position: relative;
}
